/* SCSS 로 작성됨 (주석은 SCSS 를 참조) */

/******************************
기본 변수 선언
******************************/

// 변수
$logo-width: 160px;
$logo-height: 50px;
$logo-url: url('https://pugeun.github.io/tgd-CSS/borav12/resource/new_logo.png');
$font-family: '777Littlebear';
$bg-gradient-start-color: #E5DEFF;
$bg-gradient-end-color: #F7FCFF;
$primary-color: #9D82FF;
$shadow-color: #FBF7FF;
$profile-image-bg-color: #DCE4FF;
$link-hovering-color: #EDE2FF;
$best-btn-color: #96A5FF;
$baebsae-url: url('https://pugeun.github.io/tgd-CSS/borav12/resource/baebsae.png');

// 777Littlebear 폰트
@font-face {
    font-family: '777Littlebear';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Littlebear.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 배경 애니메이션
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

// 드롭다운 메뉴 애니메이션
@keyframes menuAnimation {
    0% {
        transform: rotateX(-90deg);
    }

    80% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}