@import "config.scss";

/******************************
큰 틀
******************************/

// 마우스 커서 변경
// 기본
* {
    cursor: url("https://upload.tgd.kr/20201126/7d513679e9c3e3e4444c0f93d0123f60.png") 0 0, auto !important;
}

// 링크
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply>.reply-header>.reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
    cursor: url('https://upload.tgd.kr/20201126/86715a02ab0564646e34f84cfc267e21.png') 0 0, auto !important;
}

// 트게더 로고 변경
header .row>div:nth-child(1)>a {
    // 기존 로고 제거
    >img {
        display: none;
        filter: grayscale(100%);
        opacity: 0.8;
    }

    // 커스텀 로고 삽입
    background-repeat: no-repeat;
    display: block;
    width: $logo-width;
    height: $logo-height;
    background-image: $logo-url;
}

// 배경 변경
html {
    height: auto !important;
    background: linear-gradient(to bottom, $bg-gradient-start-color, $bg-gradient-end-color);
    scroll-behavior: smooth;
}

// 글꼴 변경 및 배경 애니메이션 추가
body {
    font-family: $font-family;
    background: transparent;
    padding-top: 180px;
    background-image: url('https://cdn.discordapp.com/attachments/460145928850898945/515694458633846831/snow.png'),
        url('https://cdn.discordapp.com/attachments/460145928850898945/515694460668084274/snow3.png'),
        url('https://cdn.discordapp.com/attachments/460145928850898945/515694462278828073/snow2.png');
    animation: snow 20s linear infinite;
}

// 앵커 태그 색상 변경
a {
    color: $primary-color;
}

// 테두리 변경 및 그림자 추가
header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame,
header #right-search-form>input[type=text] {
    border-radius: 4px;
    border: 1px dashed $primary-color;
    box-shadow: 0 0 0 2px $shadow-color, 0 0 0 3px $primary-color, 3px 0px 8px rgba(0.00, 0.00, 0.00, 0.20);
}

// 검색 버튼 색상 변경
.fa.fa-search {
    color: $primary-color;
}

/******************************
header
******************************/

header {
    #header-bar {
        // 회원 프로필 이미지 테두리 추가
        #header-menu-right #userDropdown img.profile-img {
            border-radius: 4px;
            border: 1px dashed $primary-color;
        }

        // 불릿 색상 변경
        .fa {
            color: $primary-color;
        }

        // 광고 버튼 색상 변경
        #header-top-notice strong.notice-badge {
            background-color: $primary-color;
        }
    }
}

// 즐겨찾기 드롭다운 메뉴 번호 색상 변경
#favoriteDropdownMenu>li>a>span.label.label-default {
    background-color: $primary-color;
}

// 드롭다운 메뉴
.dropdown-menu {
    // 디자인 변경
    border-radius: 4px;
    border: 1px dashed $primary-color;
    box-shadow: 0 0 0 2px $shadow-color, 0 0 0 3px $primary-color, 3px 0px 8px rgba(0.00, 0.00, 0.00, 0.20);
    animation: menuAnimation 600ms ease-in-out forwards;
    transform-origin: top center;

    // 링크 hovering 시 색상 변경 및 애니메이션 추가
    >li>a:hover {
        background-color: transparent;
        animation: bounce1 2s ease;
    }
}

/******************************
navigation (sidebar)
******************************/

#main-menu {
    position: sticky;
    top: 8px
}

#main .menu-wrapper {
    // 헤더 색상 및 디자인 변경
    >.header {
        border-radius: 4px 4px 0 0;
        background-color: $primary-color;
    }

    // 스페이서 디자인 변경
    >div.spacer {
        height: 1px;
        border-bottom: 1px dashed #9D82FF;
        // background: repeating-linear-gradient(to right, $primary-color 0px, $primary-color 3px, #FFFFFF 3px, #FFFFFF 4px);
    }

    // 앵커 태그 위치 변경
    >a {
        padding: 6px 16px 6px 6px;
    }

    // 최하단 디자인 변경
    >a:last-child {
        border-radius: 0 0 4px 4px;
    }

    // 앵커 태그 불릿 색상 변경
    >a>em {
        color: $primary-color;
    }
}

/******************************
board
******************************/

// 게시판 정보
#board-info {
    // 스트리머 프로필 이미지 위치 및 디자인 변경
    #board-info-profile-img {
        width: 80px;
        border-radius: 4px;
        border: 1px dashed $primary-color;
        background-color: $profile-image-bg-color;
        box-shadow: 0 0 0 2px $shadow-color, 0 0 0 3px $primary-color;
        position: absolute;
        top: -8px;
        z-index: 1;
    }

    // 정보창 위치 변경
    >h1 {
        margin-left: 95px;
        border-bottom: 1px dashed #9D82FF;

        // 글꼴 변경
        >a {
            font-family: $font-streamer;

            // 타이틀 추가
            &:before {
                content: "";
                width: $title-width;
                height: $title-height;
                position: absolute;
                top: -290px;
                left: 215px;
                background: $title-url no-repeat;
                z-index: 10000;
            }
        }
    }

    // 페이지를 보고 있는 유저수
    #viewers-area {
        // 디자인 변경
        float: right;
        color: $primary-color;

        #viewers {
            &:before {
                content: "방울꽃 ";
                cursor: text;
                color: $primary-color;
                font-weight: bold;
            }
    
            // "송이가 햇빛을 바라보는 중" 문자 삽입
            &:after {
                content: "송이가 햇빛을 바라보는 중";
                cursor: text;
                color: $primary-color;
                font-weight: bold;
            }
        }

        .fa-user:before {
            content: "";
            display: block;
            width: $viewer-width;
            height: $viewer-height;
            background: $viewer-url no-repeat center;
        }
    }

    // 게시판 정보창
    #board-info-bottom {
        // 위치 변경
        margin-left: 95px;

        // 앵커 태그 색상 변경
        a {
            color: $primary-color;
        }
    }
}

// 게시글 리스트
#article-list {
    // 카테고리
    #article-list-category {
        // 디자인 변경
        border-top: 2px solid $primary-color;
        background-color: white;

        // 앵커 색상 변경
        >a {
            background-color: white;

            // hovering 시 색상 변경
            &:hover {
                background-color: transparent;
                animation: bounce2 2s ease;
            }
        }
    }

    // 게시글
    >.article-list-row {
        // 디자인 변경
        margin-bottom: 4px;
        border-radius: 4px;
        border: 1px dashed #9D82FF;

        >.item {
            // 하단 테두리 제거
            >.list-checkbox,
            >.list-header,
            >.list-category,
            >.list-title,
            >.list-blocked,
            >.list-time {
                border-bottom: none;
            }

            // 추천 수 색상 변경
            >.list-header>span {
                background-color: $primary-color;
            }

            // 댓글 수 및 작성자 색상 변경
            >.list-title {
                >small.comment-count,
                >.list-writer.logged>span {
                    color: $primary-color;
                }

                >.list-category,
                >.list-writer {
                    border-color: black;
                }
            }
        }

        // hovering 시 디자인 변경
        &:hover {
            background-color: transparent;
            animation: bounce1 2s ease;
        }
    }

    // 인기글 버튼 디자인 변경
    #article-list-menu>.btn.best {
        color: $best-btn-color;
        border-color: $best-btn-color;
    }
    
    // 검색 텍스트 필드 디자인 변경
    #boardSearchForm .form-control {
        border-radius: 4px;
        border: none;
    }
}

.btn.square {
    border-radius: 4px;

    &.btn-default {
        &[type=button],
        &[type=submit] {
            border: none;
        }
    
        &[type=button] {
            margin-right: 10px;
    
            &:hover {
                background-color: transparent;
                color: $primary-color;
            }
        }
    
        &[type=submit] {
            margin-left: 10px;
    
            &:hover {
                background-color: transparent;
            }
        }
    }
}

// 페이지 네비게이션
.pagination {
    // 각 각의 버튼 디자인 변경
    >li {
        >a,
        >span {
            margin-right: 5px;
            color: $primary-color;
            border-radius: 4px;
            border: none;

            &:focus {
                color: $primary-color;
            }

            &:hover {
                color: $primary-color;
                background-color: $link-hovering-color;
            }
        }
    }

    // 활성화된 버튼 디자인 변경
    >.active {
        >a,
        >span {
            background-color: $primary-color;
            border-color: $primary-color;

            &:focus,
            &:hover {
                background-color: $primary-color;
                border-color: $primary-color;
            }
        }
    }
}

.btn-primary {
    background-color: $primary-color;
}

// 본문 디자인 변경
#article-content-wrapper>.header,
.fr-toolbar.fr-top {
    border-top-color: $primary-color;
}

/******************************
footer
******************************/

footer {
    // footer 상단 여백
    padding: 2em 0 0 0;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 60px;
        margin-top: 15px;
        background: url('resource/test.png') no-repeat;
        background-position: center center;
        position: relative;
    }
}