/* 
 * 기본 설정
 */

/* NEXONFootballGothicLA1 글꼴 */
@font-face {
    font-family: 'NEXONFootballGothicLA1';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicLA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 배경 애니메이션 */
@keyframes snow {
    0% {
        background-position: 0px 0px, 0px 0px, 0px 0px;
    }

    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}

/* 드롭다운 메뉴 애니메이션 */
@keyframes menuAnimation {
    0% {
        transform: rotateX(-90deg);
    }

    80% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

/* css 변수 */
:root {
    --logo-width: 135px;
    --logo-height: 50px;
    --logo-url: url('https://pugeun.github.io/tgd-CSS/borav12/logo.png');
    --font-family: 'NEXONFootballGothicLA1';
    --bg-gradient-start-color: #E5DEFF;
    --bg-gradient-end-color: #F7FCFF;
    --primary-color: #9D82FF;
    --profile-image-bg-color: #DCE4FF;
    --link-hovering-color: #EDE2FF;
}

/* 마우스 커서 */
/* 기본 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt,
/* 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text'] {
    cursor: url('https://upload.tgd.kr/20201126/7d513679e9c3e3e4444c0f93d0123f60.png') 0 0, auto !important;
}

/* 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
    cursor: url('https://upload.tgd.kr/20201126/86715a02ab0564646e34f84cfc267e21.png') 0 0, auto !important;
}

/* * {
    cursor: url('https://upload.tgd.kr/20201126/86715a02ab0564646e34f84cfc267e21.png') 0 0, auto !important;
} */

/* 기본 로고 제거 */
header .row>div:nth-child(1)>a>img {
    display: none;
    filter: grayscale(100%);
    opacity: 0.8;
}

/* 커스텀 로고 삽입 */
header .row>div:nth-child(1)>a {
    background-repeat: no-repeat;
    display: block;
    width: var(--logo-width);
    height: var(--logo-height);
    background-image: var(--logo-url);
}

/* 뒷 배경 변경 */
html {
    height: auto !important;
    background: linear-gradient(to bottom, var(--bg-gradient-start-color), var(--bg-gradient-end-color));
}

/* 글꼴 변경 및 뒷 배경 애니메이션 추가 */
body {
    font-family: var(--font-family);
    background: transparent;
    background-image: url('https://cdn.discordapp.com/attachments/460145928850898945/515694458633846831/snow.png'),
        url('https://cdn.discordapp.com/attachments/460145928850898945/515694460668084274/snow3.png'),
        url('https://cdn.discordapp.com/attachments/460145928850898945/515694462278828073/snow2.png');
    animation: snow 20s linear infinite;
}

/* 앵커 태그 색상 변경 */
a {
    color: var(--primary-color);
}

/* 불필요한 테두리 제거 및 그림자 추가 */
header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame,
header #right-search-form>input[type=text] {
    border-radius: 4px;
    border: 1px dashed var(--primary-color);
    box-shadow: 0 0 0 2px #FBF7FF, 0 0 0 3px var(--primary-color), 3px 0px 8px rgba(0.00, 0.00, 0.00, 0.20);
}

/* 
 * 헤더
 */

header #right-search-form>input[type=text]:focus {
    border-color: white;
}

/* 회원 프로필 이미지 테두리 추가 */
header #header-bar #header-menu-right #userDropdown img.profile-img {
    border: solid 1px var(--primary-color);
}

/* bullet 색상 변경 */
header #header-bar .fa {
    color: var(--primary-color);
}

/* 즐겨찾기 드롭다운 메뉴 번호 색상 변경 */
#favoriteDropdownMenu>li>a>span.label.label-default {
    background-color: var(--primary-color);
}

/* 상단 드롭다운 메뉴 */
.dropdown-menu {
    border-radius: 4px;
    border: 1px dashed var(--primary-color);
    box-shadow: 0 0 0 2px #FBF7FF, 0 0 0 3px var(--primary-color), 3px 0px 8px rgba(0.00, 0.00, 0.00, 0.20);
    animation: menuAnimation 600ms ease-in-out forwards;
    transform-origin: top center;
}

/* 상단 드롭다운 메뉴 hovering 시 색상 변경 */
.dropdown-menu>li>a:hover {
    background-color: var(--link-hovering-color);
    transform: scale(1.01);
    transition: 0.3s;
}

/* 
 * 메뉴 (네비게이션)
 */

/* 헤더 디자인 변경 */
#main .menu-wrapper>.header {
    /* border-radius: 16px 0 0 0; */
    background-color: var(--primary-color);
}

/* 스페이서 디자인 변경 */
#main .menu-wrapper>div.spacer {
    height: 1px;
    background: repeating-linear-gradient(to right, var(--primary-color) 0px, var(--primary-color) 10px, #FFFFFF 10px, #FFFFFF 15px);
}

/* 앵커 태그 위치 변경 */
#main .menu-wrapper>a {
    padding: 6px 16px 6px 6px;
}

/* 최하단 디자인 변경 */
#main .menu-wrapper>a:nth-last-child(1) {
    border-radius: 0 0 4px 4px;
}

/* 앵커 태그 hovering 시 색상 변경 */
#main .menu-wrapper>a:hover {
    background-color: var(--link-hovering-color);
}

/* 앵커 태그 bullet 색상 변경 */
#main .menu-wrapper>a>em {
    color: var(--primary-color);
}

/* 
 * 본문(?)
 */

/* 스트리머 프로필 이미지 위치 및 디자인 변경 */
#board-info #board-info-profile-img {
    width: 80px;
    border-radius: 4px;
    border: 1px dashed var(--primary-color);
    background-color: var(--profile-image-bg-color);
    box-shadow: 0 0 0 2px #FBF7FF, 0 0 0 3px var(--primary-color);
    position: absolute;
    top: -8px;
    z-index: 1;
}

/* 게시판 정보창 위치 변경 */
#board-info h1 {
    margin-left: 95px;
}

/* ... */
#board-info #viewers-area {
    float: right;
    color: var(--primary-color);
}

/* ... */
#board-info #viewers-area:after {
    content: " 명이 여신님을 영접중!";
    cursor: text;
    color: var(--primary-color);
    font-weight: bold;
}

/* 게시판 정보창 네비게이션 위치 변경 */
#board-info #board-info-bottom {
    margin-left: 95px;
}

/* 게시판 정보창 네이게이션 앵커 태그 색상 변경 */
#board-info #board-info-bottom a {
    color: var(--primary-color);
}

/* 카테고리 디자인 변경 */
#article-list #article-list-category {
    border-top: 2px solid var(--primary-color);
    background-color: white;
}

/* 카테고리 앵커 색상 변경 */
#article-list #article-list-category>a {
    background-color: white;
}

/* 카테고리 앵커 hovering 시 색상 변경 */
#article-list #article-list-category>a:hover {
    background-color: var(--link-hovering-color);
    transition: 0.3s;
}

/* 게시글 디자인 변경 */
#article-list>.article-list-row {
    border: 1px dashed var(--primary-color);
    border-radius: 4px;
    margin-bottom: 2px;
}

#article-list>.article-list-row>.item>.list-checkbox,
#article-list>.article-list-row>.item>.list-header,
#article-list>.article-list-row>.item>.list-category,
#article-list>.article-list-row>.item>.list-title,
#article-list>.article-list-row>.item>.list-blocked,
#article-list>.article-list-row>.item>.list-time {
    border-bottom: none;
}

/* 게시글 hovering 시 디자인 변경 */
#article-list>.article-list-row:hover {
    background-color: var(--link-hovering-color);
    transform: scale(1.01);
    transition: 0.3s;
}

/* 게시글 추천 수 색상 변경 */
#article-list>.article-list-row>.item>.list-header>span {
    background-color: var(--primary-color);
}

/* 게시글 댓글 수 및 작성자 색상 변경 */
#article-list>.article-list-row>.item>.list-title>small.comment-count,
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: var(--primary-color);
}

/*  */
#article-list #article-list-menu>.btn.best {
    color: #96A5FF;
    border-color: #96A5FF;
}

/* 인기글 버튼 색상 변경 */
header #right-search-form>#right-search-btn {
    color: var(--primary-color);
}

/* 페이지 네비게이션 */
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: var(--primary-color);
}

.pagination>li>a,
.pagination>li>span {
    color: var(--primary-color);
}

/* 검색 버튼 색상 변경 */
header #header-bar #header-top-notice strong.notice-badge,
.btn-primary {
    background-color: var(--primary-color);
}

/* 본문 디자인 변경 */
#article-content-wrapper>.header,
.fr-toolbar.fr-top {
    border-top-color: var(--primary-color);
}